* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: auto;
}

.uv {
    width: 20%;
    background-color: orangered;
    margin: .9rem auto;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    width: 10rem;
    box-shadow: 22px 6px 24px 12px rgba(0, 0, 0, 0.37);
    border: 0;
}

.searchItem {
    width: 60%;
    border-radius: 10px;
    border: solid 1px grey;
    margin: 0 auto 10px;
    padding: .6rem;
    letter-spacing: .03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.searchItem:hover,
:focus {
    color: white;
    background-color: firebrick;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.item1 {
    margin-bottom: 5rem;
}

.fiveDayForecast {
    width: 100vw;
    margin: 0 auto 20rem auto;
    /* border: 10px solid purple; */
}

.card-deck {
    width: 100vw;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-header {
    text-align: center;
}

.search-history {
    position: absolute;
    margin-left: 5rem;
    width: 40%;
    top: -170px;
    right: 500px;
    text-align: center;
}

#searches {
    display: grid;
    grid-template-columns: 2 1fr;
    width: 20em;
}

#searches li {
    list-style-type: none;
}

.btn {
    margin-left: 2rem;
}

.currentCity {
    width: 20%;
    margin: 0 auto 2rem;
    display: none;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.bi {
    margin-left: .09em;
    font-size: 1.4em;
}